@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin transform-origin($x:0, $y:0) {
     -moz-transform-origin: $x $y;
       -o-transform-origin: $x $y;
      -ms-transform-origin: $x $y;
  -webkit-transform-origin: $x $y;
          transform-origin: $x $y;
}

@mixin linear-gradient($args...) {
  background-image: -webkit-linear-gradient($args);
  background-image: -moz-linear-gradient($args);
  background-image: -ms-linear-gradient($args);
  background-image: -o-linear-gradient($args);
  background-image: linear-gradient($args);
}